.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 2rem 0;
}

.conteudo h1 {
    font-size: 2rem;
    margin-bottom: 1em; 
    color: #004d40;
}

.conteudo p {
    font-size: 1.2rem;
    color: #004d40;
    width: 80%;
    text-align:justify;
    text-indent: 1em;
}

.conteudo img {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .conteudo {
        flex-direction: row;
    }

    .conteudo h1,
    .conteudo p {
        width: 50%;
    }

    .conteudo img {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .conteudo h1,
    .conteudo p {
        width: 70%;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 2rem 0;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo h1,
    .conteudo p {
        width: 60%;
        text-align: justify;
    }
}