.header {
    background-color: #e0f2f1;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 4%;
  }
  
  .header ul li {
    font-size: 1.1rem;
    color: #004d40;
    padding-right: 1rem;
    background-color: #80cbc4;
    padding: 2% 5%;
    margin-right: 1%;
    border-radius: 20px;
    text-align: center;
  }
  
  .header img {
    width: 350px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
      background-color: #e0f2f1;
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3vh;
    }
  
    .header ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      list-style-type: none;
      padding: 4%;
      justify-content: center;
    }
  
    .header ul li {
      font-size: 1.1rem;
      color: #004d40;
      padding-right: 1rem;
      background-color: #80cbc4;
      padding: 2% 5%;
      margin-right: 1%;
      border-radius: 20px;
      margin-bottom: 2%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .header ul:first-child {
      width: 70%;
    }
  
    .header ul:last-child {
      width: 100%;
    }
  
    .header ul:first-child li {
      width: 30%;
    }
  
    .header ul:last-child li {
      width: 25%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      height: auto;
      padding-top: 5vh;
    }
  
    .header img {
      width: 100%;
      max-width: 200px;
    }
  
    .header ul {
      flex-direction: column;
      align-items: center;
      padding: 2%;
      justify-content: center;
    }
  
    .header ul li {
      margin-right: 0;
      margin-bottom: 2%;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 820px) {
    .header ul {
      justify-content: center; 
    }
  }